{% load inlinecss %}
{% inlinecss "css/email_code.css" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table class="main">
    <tr class="header">
      <td class="logo-block">
        <div class="logo">
          <img src="https://i.ibb.co/5xBRt9p/email-code-logo.png" alt="email-code-logo" border="0">
          BlanBall
        </div>
        <div class="socials">
          <a href="#">
            <img src="https://i.ibb.co/d5kmN1X/facebook-icon.png" alt="facebook-icon" border="0">
          </a>
          <a href="#">
            <img src="https://i.ibb.co/m4hG58H/instagram-icon.png" alt="instagram-icon" border="0">
          </a>
          <a href="#">
            <img src="https://i.ibb.co/ZVqSDST/linkedin-icon.png" alt="linkedin-icon" border="0">
          </a>
        </div>
      </td>
    </tr>
    <tr class="empty_line_52"></tr>
    <tr class="body">
      <td>
        <div class="body_wrapper">
          <div class="body_title">
            {{title}}
          </div>
          <div class="body_text">
            Скопіюйте або запам’ятайте наведений нижче код-підтвердження 
            та введіть його у відповідне поле застосунку <span>BlanBall</span>
          </div>
          <div class="code_approve_title">
            Код підтвердження
          </div>
          <div class="code_numbers">
            {% for i in code %}
            <div class="number">
                <div class="number_block">
                    <span>{{i}}</span>
                </div>
            </div>
            {% endfor %}
          <div class="bottom_line">
            Якщо ви не надсилали запит, <span>просто проігноруйте це повідомлення.</span>
          </div>
        </div>
      </td>
    </tr>
    <tr class="footer">
      <td>
        <div class="main_text">
          Цей електронний лист надіслано на <a href="#" class="email">gita@email.com</a>. 
          Якщо ви не бажаєте отримувати електронні листи такого типу, 
          чи хочете ви, щоб ваш бренд більше не отримував листи? <a href="#">Відписатися</a>.
        </div>
        <div class="address">
          915 Wilshire BLVD #1600, Львів, CA 90017-6410, Україна
        </div>
        <div class="copyright">
          © 2022 BlanBall
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
{% endinlinecss %}